<% if params[:plan] == '2' %>
  <h2>Annually Account Sign Up Form</h2>
<% elsif params[:plan] == '1' %>
  <h2>Monthly Account Sign Up Form</h2>
<% else %>
  <h2>Free Account Sign Up Form</h2>
<% end %>

<h2>Sign up</h2>

<% if params[:plan] == '3' %>
    <%= render "free_form" %>
  <% else %>
    <%= render "pro_form" %>
<% end %>

<%= render "businesses/shared/links" %>
