<div class="container" style="text-align:center; padding-top:20px; padding-bottom:20px">
  <h1>My Rewards</h1>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: center">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @rewardpurchases.each do |rewardpurchases| %>
        <tr>
          <td style="text-align: center"><%= rewardpurchases.rewardname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>