<div class="header-2">
    <div class="page-header header-filter page-header-small">
      <div class="page-header-image" style="background-image: url('assets/img/bg11.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <% flash.each do |name, msg| %>
        			<%= content_tag(:div, msg, class: "alert alert-info") %>
        		<% end %>
            <h1 class="title">Search all of the posts</h1>
          </div>
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color="">
              <div class="card-body">
    		    <%= search_form_for @search, url: posts_path, defaults: {wrapper: :inline_field4} do |f| %>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
    		        	 <%= f.text_field :title_or_content_or_comments_content_cont, placeholder: 'Keywords', class:"form-control" %>
                      </div>
                    </div>
                    <div class="col-md-3">
     				  <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
