<% @title="Business Sign Up" %>

	<div class="pricing-3 section-image" style="background-image: url('assets/img/pricing1.jpg')" id="pricing-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">Pick the best plan for you</h2>
              <h4 class="description">You have Unlimited Rewards on each package.</h4>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ml-auto">
              <div class="card card-pricing">
                <div class="card-body">
                  <h5 class="category">Monthly</h5>
                  <h1 class="card-title">
                    <small>$</small>40
                    <small>/mo</small>
                  </h1>
	              <%= link_to 'Sign Up', new_business_registration_path(plan: @monthly_plan.id), class:"btn btn-primary btn-round" %>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto">
              <div class="card card-pricing card-raised" data-background-color="orange">
                <div class="card-body">
                  <h5 class="category">Annually</h5>
                  <h1 class="card-title">
                    <small>$</small>400
                    <small>/yr</small>
                  </h1>
	              <%= link_to 'Sign Up', new_business_registration_path(plan: @annually_plan.id), class:"btn btn-neutral btn-primary btn-round" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="features-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <h2 class="title">How does it work?</h2>

                    <div class="info info-horizontal">
                        <div class="icon icon-success icon-circle">
                            <i class="material-icons">
                              calendar_today
                            </i>
                          </div>
                        <div class="description">
                            <h4 class="info-title">Select a plan</h4>
                            <p>All plans allow businesses to create an unlimited number of rewards. </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-info icon-circle">
                            <i class="material-icons">
                              card_giftcard
                            </i>
                          </div>
                        <div class="description">
                            <h4 class="info-title">Create a reward</h4>
                            <p>Post your Reward and choose the number of points that a student would need to submit in order to recieve it.</p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-warning icon-circle">
                          <i class="material-icons">
                            shopping_cart
                          </i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Redeem Rewards</h4>
                            <p>Students purchase rewards through points and bring their phone to the store for verification.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tablet-container">
                        <img src="assets/img/ipad2-inverted.png">
                    </div>
                </div>
            </div>
        </div>

    </div>

<%= render "layouts/footer" %>
