<body class="about-us" style="margin:0; padding:0; color: #4d4d4d; position: relative; font-family: 'Roboto', sans-serif; text-align: left; background: url(../images/bg.png) left top repeat;}">
    <div class="page-header" data-parallax="" style="padding-bottom:-100px">
    	<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title" style="color:#007981">Welcome to Skoosm!</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
					<div class="card card-raised card-form-horizontal">
						<div class="content">
							<form method="" action="">
								<div class="row">
									<div class="col-md-9">
										<div class="form-group is-empty">
					        	        	<input type="text" value="" placeholder="Search our posts" class="form-control">
					                	<span class="material-input"></span></div>
									</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-primary btn-block" style="background-color: #007981;">Search</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
    	<!--     *********     BLOGS 2      *********      -->

    	<div class="blogs-2" id="blogs-2">
    
    		<div class="container">
    			<div class="row">
    
    				<div class="col-md-10 col-md-offset-1">
    					<h2 class="title" style="text-align:center">Save time on classwork and earn rewards!</h2>
					      <select id="e1">
						      <option value="AL">Alabama</option>
						      <option value="WY">Wyoming</option>
						  </select>
    					<br />
    
    					<div class="row">
    						<div class="col-md-4">
    							<div class="card card-plain card-blog">
    								<div class="card-image">
    									<a href="#pablo">
    										<img class="img img-raised" src="assets/img/examples/card-blog4.jpg" />
    									</a>
    								</div>
    
    								<div class="content" style="text-align: center">
    									<h4 class="card-title">
    										<a href="#pablo">Search through posts on Skoosm</a>
    									</h4>
    									<p class="card-description">
											Join our community and share your resources and find the information that you're looking for fast.
    									</p>
    									<button class="btn btn-primary btn-round" style="background-color: #007981;">
											<i class="material-icons">bookmark</i> Search posts
										</button>
    								</div>
    							</div>
    						</div>
    
    						<div class="col-md-4">
    							<div class="card card-plain card-blog">
    								<div class="card-image">
    									<a href="#pablo">
    										<img class="img img-raised" src="assets/img/examples/blog5.jpg" />
    									</a>
    								</div>
    								<div class="content" style="text-align: center">
    									<h4 class="card-title">
    										<a href="#pablo">Find helpful posts for your class</a>
    									</h4>
    									<p class="card-description">
    										Don't start from scratch, build on what previous students have found in those classes you're taking.
    									</p>
    									
    									<button class="btn btn-primary btn-round" style="background-color: #007981;">
											<i class="material-icons">assignment_turned_in</i> Search classes
										</button>
									</div>
    							</div>
    						</div>
    
    						<div class="col-md-4">
    							<div class="card card-plain card-blog">
    								<div class="card-image">
    									<a href="#pablo">
    										<img class="img img-raised" src="assets/img/examples/blog7.jpg" />
    									</a>
    								</div>
    
    								<div class="content" style="text-align: center">
    									<h4 class="card-title">
    										<a href="#pablo">Earn local business rewards</a>
    									</h4>
    									<p class="card-description">
    										Local businesses provide discounts to students who provide the most useful information.
    									</p>
    									<button class="btn btn-primary btn-round" style="background-color: #007981">
											<i class="material-icons">card_giftcard</i> Search rewards
										</button>
    								</div>
    							</div>
    						</div>
    
    
    					</div>
    
    				</div>
    
    			</div>
    
    
    
    		</div>
    	</div>
    
    	<!--     *********    END BLOGS 2      *********      -->
    </div>
</body>
