

<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
		<li>
            <%= link_to 'Business Sign Up', signup_path %>     
        </li>
        <li>
            <%= link_to 'Business Sign In', new_business_session_path %>
		</li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
		© <%= Time.current.year %> Skoosm</a>	
    </div>
  </div>
</footer>